/* Local variables for the Top Tracks component */
$spotify-gray: #181818;
$spotify-light-gray: #282828;
$text-muted: #B3B3B3;
$border-radius-md: 12px;

:host {
  display: block;
  height: 100%;
}

// .top-tracks-card {
//   width: 100%;
//   text-align: center;
//   background-color: $spotify-gray;
//   border-radius: $border-radius-md;
// }

.card-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
}

.chart-wrapper {
  // This wrapper will grow to fill the available space in the card
  flex-grow: 1;
  position: relative; // Important for Chart.js responsiveness
}